.container {
  .hamburger {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 3;
    cursor: pointer;
  }

  .donate {
    width: 100vw;
    height: 100vh;

    .background {
      position: absolute;
      height: 100vh;
      width: 100vw;
      background: linear-gradient(
          0deg,
          rgba(252, 249, 234, 0.5),
          rgba(252, 249, 234, 0.5)
        ),
        url("./images/background6.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

      .blur {
        height: 100%;
        width: 100%;
        background: linear-gradient(
            0deg,
            rgba(252, 249, 234, 0.5),
            rgba(252, 249, 234, 0.5)
          ),
          url("./images/background6.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        filter: blur(5px);
      }
    }

    .text {
      height: auto;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .title {
        font-size: 52px;
        font-weight: 700;
        letter-spacing: 5px;
        margin-bottom: 50px;
      }

      .subtitle {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .subtitle2 {
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 20px;
      }
      .subtitle3 {
        width: 80%;
        margin: auto;
        font-size: 12px;
        font-weight: 900;
        padding-bottom: 50px;
      }
      .button {
        background: #305f72;
        box-shadow: -9px -9px 12px rgba(255, 255, 255, 0.5),
          9px 9px 16px rgba(48, 95, 114, 0.5);
        border-radius: 5px;
        margin: auto;
        width: 100px;
        height: 50px;
        cursor: pointer;

        div {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 800;
          font-size: 18px;
          line-height: 30px;
          color: #ffffff;
        }

        &:hover {
          background: #41819a;
        }
      }
    }
  }
}
