@media only screen and (min-width: 600px) {
  .container {
    .hamburger {
      position: fixed;
      top: 20px;
      right: 50px;
      z-index: 3;
      cursor: pointer;
    }

    .home {
      width: 100vw;
      height: 100vh;

      .background {
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: linear-gradient(
            0deg,
            rgba(252, 249, 234, 0.5),
            rgba(252, 249, 234, 0.5)
          ),
          url("./images/background2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;

        .blur {
          height: 100%;
          width: 100%;
          background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.6),
              rgba(255, 255, 255, 0.6)
            ),
            url("./images/background2.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          filter: blur(5px);
        }
      }

      #text {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        .image {
          background: url("./images/logo.png");
          background-size: contain;
          height: 200px;
          width: 200px;
          margin-top: 200px;
        }

        .title {
          font-size: 52px;
          font-weight: 600;
          letter-spacing: 5px;
          margin-bottom: 20px;
          grid-row: 2;
        }

        .subtitle {
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 20px;
        }

        .subtitle2 {
          font-size: 18px;
          font-weight: 300;
        }
      }
    }

    .content {
      width: 100vw;
      background: #ffffff;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 400px 100px 700px 100px 800px 400px;

      .goals {
        width: 70%;
        margin: auto;
        grid-column: 1 / span 2;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 45px;
        text-align: center;
      }

      .title {
        background: #ffffff;
        grid-column: 1 / span 2;
        height: 100px;
        margin: auto;
        box-shadow: -9px -9px 12px rgba(255, 255, 255, 0.5),
          12px 12px 16px rgba(188, 206, 216, 0.5);
        border-radius: 5px;
        width: 400px;

        div {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          font-style: normal;
          font-weight: 600;
          font-size: 26px;
          line-height: 60px;
        }
      }

      .pinkbean {
        grid-column: 1;
        margin: auto 0 auto auto;

        .image {
          background: url("./images/pinkbean.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          height: 800px;
          width: 600px;
        }
      }

      .table {
        grid-column: 2;
        margin: auto auto auto 0;

        ul {
          background: #ffffff;
          box-shadow: -9px -9px 16px rgba(255, 255, 255, 0.5),
            12px 12px 16px rgba(188, 206, 216, 0.5);
          border-radius: 5px;
          padding: 50px;
          width: 80%;

          li {
            width: 70%;
            margin-bottom: 30px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
          }
        }
      }

      .screenshots {
        grid-column: 1 / span 2;
        margin: auto;

        .image {
          background-image: url("./images/ss.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          height: 700px;
          width: 100vw;

          .right {
            position: relative;
            top: 50%;
            float: right;
            background-color: rgba(252, 249, 234, 0.5);
            cursor: pointer;

            &:hover {
              background-color: rgb(252, 249, 234);
            }
          }

          .left {
            position: relative;
            top: 50%;
            float: left;
            background-color: rgba(252, 249, 234, 0.5);
            cursor: pointer;

            &:hover {
              background-color: rgb(252, 249, 234);
            }
          }
        }
      }

      .invite {
        background: #ffffff;
        box-shadow: -9px -9px 16px rgba(255, 255, 255, 0.5),
          12px 12px 16px rgba(188, 206, 216, 0.5);
        border-radius: 5px;
        grid-column: 1 / span 2;
        width: 800px;
        height: 300px;
        margin: auto;
        text-align: center;

        .text {
          font-weight: 800;
          font-size: 32px;
          line-height: 60px;
          margin: 25px;
        }

        .text2 {
          font-weight: 300;
          font-size: 24px;
          line-height: 25px;
          margin: 15px;
        }

        .button {
          background: #305f72;
          box-shadow: -9px -9px 12px rgba(255, 255, 255, 0.5),
            9px 9px 16px rgba(48, 95, 114, 0.5);
          border-radius: 5px;
          height: 50px;
          width: 200px;
          margin: 50px auto;
          cursor: pointer;

          div {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 30px;
            color: #ffffff;
          }

          &:hover {
            background: #41819a;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .hamburger {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 3;
      cursor: pointer;
    }

    .home {
      width: 100vw;
      height: 100vh;

      .background {
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(
            0deg,
            rgba(252, 249, 234, 0.5),
            rgba(252, 249, 234, 0.5)
          ),
          url("./images/background2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        z-index: -1;
        background-attachment: fixed;

        .blur {
          height: 100%;
          width: 100%;
          background: linear-gradient(
              0deg,
              rgba(252, 249, 234, 0.5),
              rgba(252, 249, 234, 0.5)
            ),
            url("./images/background2.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          filter: blur(5px);
        }
      }

      #text {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .image {
          background: url("./images/logo.png");
          background-size: contain;
          height: 100px;
          width: 100px;
          margin-top: 40vh;
        }

        .title {
          font-size: 28px;
          font-weight: 600;
          letter-spacing: 5px;
          margin-bottom: 20px;
          grid-row: 2;
        }

        .subtitle {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 20px;
        }

        .subtitle2 {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }

    .content {
      width: 100vw;
      background: white;
      display: grid;
      grid-column: 100%;
      grid-template-rows: 400px 100px 500px 100px 300px 400px;

      .goals {
        width: 60%;
        margin: auto;
        grid-column: 1 / span 2;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
      }

      .title {
        background: #ffffff;
        grid-column: 1 / span 2;
        height: 75px;
        margin: auto;
        box-shadow: -9px -9px 12px rgba(255, 255, 255, 0.5),
          12px 12px 16px rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        width: 70%;

        div {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 60px;
        }
      }

      .pinkbean {
        display: none;
        margin: auto;

        .image {
          background: url("./images/pinkbean.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          height: 100px;
          width: 100px;
        }
      }

      .table {
        grid-column: 1 / span 2;
        margin: 50px auto auto auto;
        width: 80%;

        ul {
          background: #ffffff;
          box-shadow: -9px -9px 16px rgba(255, 255, 255, 0.5),
            12px 12px 16px rgba(188, 206, 216, 0.5);
          border-radius: 5px;
          padding: 75px;
          list-style: none;
          text-align: center;

          li {
            width: 100%;
            margin-bottom: 12px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
          }
        }
      }

      .screenshots {
        grid-column: 1 / span 2;
        margin: 0 auto;

        .image {
          background-image: url("./images/ss.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          height: 300px;
          width: 100vw;

          .right {
            display: none;
            z-index: -2;
            position: relative;
            top: 50%;
            float: right;
            background-color: rgba(252, 249, 234, 0.5);
            cursor: pointer;

            &:hover {
              background-color: rgb(252, 249, 234);
            }
          }

          .left {
            display: none;
            z-index: -2;
            position: relative;
            top: 50%;
            float: left;
            background-color: rgba(252, 249, 234, 0.5);
            cursor: pointer;

            &:hover {
              background-color: rgb(252, 249, 234);
            }
          }
        }
      }

      .invite {
        background: #ffffff;
        box-shadow: -9px -9px 16px rgba(255, 255, 255, 0.5),
          12px 12px 16px rgba(188, 206, 216, 0.5);
        border-radius: 5px;
        grid-column: 1 / span 2;
        width: 90vw;
        height: 200px;
        margin: auto;
        text-align: center;

        .text {
          font-weight: 800;
          font-size: 16px;
          line-height: 60px;
          margin: 10px;
        }

        .text2 {
          font-weight: 300;
          font-size: 12px;
          line-height: 10px;
          margin: 10px;
        }

        .button {
          background: #305f72;
          box-shadow: -9px -9px 12px rgba(255, 255, 255, 0.5),
            9px 9px 16px rgba(48, 95, 114, 0.5);
          border-radius: 5px;
          height: 50px;
          width: 80%;
          margin: 20px auto;
          cursor: pointer;

          div {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 30px;
            color: #ffffff;
          }

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
