* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
}

body {
  font-family: "Muli", sans-serif;
}
#root {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 50px;
  opacity: 0.6;
}
::-webkit-scrollbar-thumb {
  background: rgb(68, 73, 78);
}

::-webkit-scrollbar-track {
  background: rgb(218, 218, 218);
}
